<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ImageToMapMC" Language="1033" Version="1.0.0.0" Manufacturer="asanrom" UpgradeCode="04fe8952-636b-4429-a500-5ba52169b5f8">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="ImageToMapMC" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>

		<WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

		<UI>
			<UIRef Id="WixUI_Minimal" />
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>

		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch ImageToMapMC" />

		<Property Id="WixShellExecTarget" Value="[#mcmap_gui.exe]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />


		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="ImageToMapMC" />
			</Directory>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="ImageToMapMC" />
			</Directory>
		</Directory>

		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- Exe files -->

			<Component Id="mcmap.exe" Guid="2a8e8500-598c-4ec0-94b6-aa9b228d56a6" Win64="yes">
				<File Id="mcmap.exe" Source="release\subprojects\Build\ImageToMapMC_core\Release\mcmap.exe" KeyPath="yes" Checksum="yes" />
			</Component>

			<Component Id="mcmap_gui.exe" Guid="40b7b39f-db2c-454f-808e-606d71b0d6f7" Win64="yes">
				<File Id="mcmap_gui.exe" Source="release\subprojects\Build\ImageToMapMC_core\Release\mcmap-gui.exe" KeyPath="yes" Checksum="yes" />
			</Component>

			<!-- Image libraries -->

			<Component Id="jpeg62.dll" Guid="64c14883-a53e-4a9f-971a-af648d629230" Win64="yes">
				<File Id="jpeg62.dll" Source="release\subprojects\Build\ImageToMapMC_core\Release\jpeg62.dll" KeyPath="yes" Checksum="yes" />
			</Component>

			<Component Id="libpng16.dll" Guid="07036ca4-5c4c-443e-a995-7f26e8fce083" Win64="yes">
				<File Id="libpng16.dll" Source="release\subprojects\Build\ImageToMapMC_core\Release\libpng16.dll" KeyPath="yes" Checksum="yes" />
			</Component>

			<Component Id="tiff.dll" Guid="2b41976f-b7e2-4906-a57e-61eede7f1331" Win64="yes">
				<File Id="tiff.dll" Source="release\subprojects\Build\ImageToMapMC_core\Release\tiff.dll" KeyPath="yes" Checksum="yes" />
			</Component>

			<!-- WX-WIDGETS -->

			<Component Id="wxbase315u_vc_custom.dll" Guid="8bf0d39b-ddf9-4345-9ee2-024f2ff62bc1" Win64="yes">
				<File Id="wxbase315u_vc_custom.dll" Source="release\subprojects\Build\ImageToMapMC_core\Release\wxbase315u_vc_custom.dll" KeyPath="yes" Checksum="yes" />
			</Component>

			<Component Id="wxmsw315u_core_vc_custom.dll" Guid="864f2bd7-b227-45a0-a2e4-3f2a17255157" Win64="yes">
				<File Id="wxmsw315u_core_vc_custom.dll" Source="release\subprojects\Build\ImageToMapMC_core\Release\wxmsw315u_core_vc_custom.dll" KeyPath="yes" Checksum="yes" />
			</Component>

			<!-- Other libraries -->

			<Component Id="lzma.dll" Guid="f4d33cb4-6c90-453b-b293-ec62468c6fdb" Win64="yes">
				<File Id="lzma.dll" Source="release\subprojects\Build\ImageToMapMC_core\Release\lzma.dll" KeyPath="yes" Checksum="yes" />
			</Component>

			<Component Id="zlib1.dll" Guid="9cd92caa-1780-4bbf-89c2-98d8103d5b32" Win64="yes">
				<File Id="zlib1.dll" Source="release\subprojects\Build\ImageToMapMC_core\Release\zlib1.dll" KeyPath="yes" Checksum="yes" />
			</Component>

		</ComponentGroup>


		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="5a12b777-8156-45dc-b099-25d4510cc126">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="ImageToMapMC (Map art tool for Minecraft)" Description="Map art tool for Minecraft" Target="[#mcmap_gui.exe]" WorkingDirectory="INSTALLFOLDER" Directory="ApplicationProgramsFolder" />
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Asanrom\ImageToMapMC" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

	</Product>
</Wix>